.details-project-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.164);
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 100vh;
  z-index: 121232;
  & .project-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #0A192F;
    width: 80%;
    height: 80vh;
    border-radius: 12px;
    & .images-project {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      width: 50%;
    }
    & .description-project-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 20px;
      width: 50%;
      & .title-project{
        font-size: 2rem;
        font-weight: 600;
        color: #4e9665;
      }
      & .description-project {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        line-height: 1.5;
        text-align: justify;
        color: rgb(190, 190, 190);
      }

      & .list-tools {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 20px;
        gap: 5px;
        width: 90%;
        color: rgb(190, 190, 190);
      }
      & .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        & button {
          padding: 10px 20px;
          border-radius: 12px;
          border: 1px solid #4e9665;
          color: #4e9665;
          background-color: #040f20;
          transition: all 0.2s ease-in-out;
          cursor: pointer;
          &:hover {
            background-color: #4e9665;
            color: #0a192f;
          }
        }
      }
    }
  }
}
