.details-project-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.164);
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 100vh;
  z-index: 121232;
  & .project-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #0a192f;
    width: 80%;
    height: 80vh;
    border-radius: 12px;
    & .images-project {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 40px;
      width: 50%;
      margin-bottom: 4rem;
    }
    & .description-project-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 10px;
      width: 50%;
      & .title-project {
        font-size: 1.5rem;
        font-weight: 600;
        color: #4e9665;
      }
      & .description-project {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        line-height: 1.4;
        text-align: justify;
        font-size: 15px;
        color: rgb(190, 190, 190);
      }

      & .list-tools {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 5px;
        width: 90%;
        padding-left: 20px;
        text-align: justify;
        font-size: 15px;
        color: rgb(190, 190, 190);
          & .title-tools{
            color: #4e9665;
            font-weight: 600;
            position: relative;
            left: -20px;
          }
      }
      & .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        & .link-visit-web {
          padding: 10px;
          border-radius: 12px;
          border: 1px solid #4e9665;
          color: #4e9665;
          background-color: #040f20;
          transition: all 0.2s ease-in-out;
          cursor: pointer;
          text-decoration: none;
          font-size: 14px;
          &:hover {
            background-color: #4e9665;
            color: #0a192f;
          }
        }
      }
    }
  }
}
.image-main{
  border-radius: 12px;
}
.image-last {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.image-mini {
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.image-mini:hover {
  transform: scale(1.2);
}
.close-button {
  position: absolute;
  top: 12%;
  right: 12%;
  font-size: 1.5rem;
  font-weight: 600;
  color: #4e9665;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.2);
  }
}
