#introdution {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.apresentation{
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  max-width: fit-content;
  font-size: 45px;
  text-align: center;
  color: #cacaca;
}

 .dev {
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  max-width: fit-content;
  font-size: 45px;
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(78, 150, 101, 1) 0%,
    rgba(102, 255, 110, 1) 100%,
    rgba(125, 232, 136, 1) 51%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.apresentation {
  animation: 
    typing 3s steps(38) forwards 
}

.dev {
  animation: 
    typing 3s steps(22) forwards 2.2s,
    pulsaCor 2s alternate infinite
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}



#about-me {
  display: flex;
  min-height: 100vh;
  max-height: 100%;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  & .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    & .stacks {
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px;
      flex-wrap: wrap;
      & .cards-stack {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color: transparent;
        border: 1px solid #4e9665;
        width: 100px;
        height: 100px;
        padding: 10px;
        border-radius: 12px;
        box-shadow: 0 4px 8px #00000033;
        transition: transform 0.3s, box-shadow 0.3s;
        &:hover {
          transform: translateY(-10px);
          box-shadow: 0px 23px 31px -14px #4e9665;
          -webkit-box-shadow: 0px 23px 31px -14px #4e9665;
          -moz-box-shadow: 0px 23px 31px -14px #4e9665;
        }
        & h4 {
          text-align: center;
          font-size: 10px;
          color: #dfe5f1;
        }
      }
    }
    & .text {
      width: 50%;
      font-size: 19px;
      color: #cacaca;
      font-family: var(--font-roboto);
      font-weight: 400;
      line-height: 1.5;
    }
  }
}

@media screen and (max-width: 811px) {
  .container {
    flex-direction: column-reverse;
    gap: 3rem !important;
    & .text,
    .stacks {
      width: 100% !important;
      text-align: center;
    }
  }
}

.title {
  position: relative;
  right: 36%;
  top: -2rem;
  font-size: 34px;
  font-weight: 500;
  color: #dfe5f1;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  & .line {
    width: 80%;
    height: 5px;
    border: none;
    border-radius: 12px;
    background-color: #4e9665;
    animation: lineMove 2s ease-in-out;
  }
}
@media screen and (max-width: 821px) {
  .title {
    right: 0%;
    text-align: center;
  }
}

@keyframes lineMove {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}

@keyframes pulsaCor {
  0% {
    text-shadow: 0 0 5px rgba(222, 241, 74, 0.2),
      0 0 10px rgba(48, 149, 78, 0.1);
  }

  100% {
    text-shadow: 0 0 3px rgba(222, 241, 74, 0.7),
      0 0 10px rgba(162, 246, 64, 0.5), 0 0 10px rgba(48, 149, 78, 0.3);
  }
}

@media screen and (max-width: 980px) {
  .apresentation,
  .dev {
    font-size: 20px !important;
    white-space: wrap !important;
  }
}

#projects {
  min-height: 100vh;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  scroll-margin-top: 8rem;
  padding: 20px;
  flex-direction: column;
  scroll-margin-top: 0vh !important;
  & .projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 5rem;
  }
}

#formacao-academica {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 1rem;
  & .formation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 2rem;
  }
}

#contatos {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  & .contacts-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
  }
}
